@import "tailwindcss";

/* Containers */
.bs-container {
  inline-size: min(92vw, 90rem);
  margin-inline: auto;
}

/* Top Margins */
.bs-mt-lg {
  @apply mt-16 lg:mt-32
}

.bs-mt-md {
  @apply mt-10 lg:mt-16
}

.bs-mt-sm {
  @apply mt-6 lg:mt-8
}

.bs-dropdown-focus:focus-visible {
  outline: 2px solid #C41E3A;
  outline-offset: 2px;
}

.bs-dropdown-menu-open {
  @apply opacity-100 visible pointer-events-auto translate-y-0;
}
