---

import Logo from '../assets/theme-images/logo.svg'
import UnitLogoUrl from '../assets/images/APSU-Logo-GIS-Horizontal.png?url'

const { settings } = Astro.props

---

<footer class="@container bs-container my-24 font-semibold text-bs-foreground-dark [&_a]:hover:text-bs-foreground-light [&_a]:transition-color [&_a]:duration-150" id="contact">

  <!-- Wrapper -->
  <div class="bg-bs-surface-2 p-6 md:p-16 rounded-xl grid md:grid-cols-2 gap-8">

      <!-- Left col -->
      <div class="w-max flex flex-col gap-8 md:gap-0 justify-between text-bs-foreground-light">

        <!-- Logo -->
        <a class="flex group items-center" href="#top" aria-label="Back to top">
          <img src={UnitLogoUrl} alt={settings.title + ' logo'} class="h-12 object-contain filter brightness-0 invert" />
        </a>

        <!-- CTA title -->
        <h2 class="bs-h3">{ settings.demo.title  }</h2>

        <!-- CTA Button -->
        <button type="button" class="min-w-32 bs-btn block bg-bs-surface-3" onclick="demo.showModal()">
          { settings.demo.cta }
        </button>

        <address class="not-italic text-sm text-bs-foreground-dark mt-4">
          601 N Second St<br />
          Clarksville, TN 37044
        </address>

      </div>

      <!-- Right col -->
      <div class="flex gap-10 md:gap-2 lg:gap-20 md:justify-end [&_a]:block md:[&_a]:px-5 [&_a]:py-2">

        <!-- Nav -->
        <nav class="flex flex-col">

          { settings.nav.flatMap(item => item.submenu ? [item, ...item.submenu] : [item]).filter(i => i.link && i.title !== "—").map( item =>

            <a href={ item.link.startsWith('/') ? import.meta.env.BASE_URL.replace(/\/$/, '') + item.link : item.link }>
              { item.title }
            </a>

          )}

        </nav>

        <!-- Social links -->
        <nav class="flex flex-col">

          { settings.social_links.sort((a,b) => a.title.localeCompare(b.title)).map( item =>

            <a href={ item.link } target="_blank" rel="noopener noreferrer">
              { item.title }
            </a>

          )}

        </nav>

      </div>

  </div>


  <!-- Colophon -->
  <aside class="bs-container">

      <nav class="flex gap-4 justify-center pt-16 md:pt-24 text-xs">

        <!-- Copyright/Date -->
        <span>&copy; {new Date().getFullYear()} Austin Peay State University GIS Center</span>

        <!-- Credits -->
        <a href={import.meta.env.BASE_URL.replace(/\/$/, '') + "/privacy"}>Privacy Policy</a>

      </nav>

  </aside>

</footer>

